body {
    margin: 0;
    background: #e53935;
}

/* медиазапросы и контрольные точки */
/*
Основные типы устройств:
all - все устройства (по умолчанию)
print - принтеры и режим предварительного просмотра страницы перед печатью
screen - устройства с дисплеями
*/
/*
Логические операторы:
and - требует обязательного выполнения всех условий, например
screen and (min-width: 1200px) and (orientation: landscape) { стили }
запятия - требует обязательного выполнения хотя бы одного из условий
(min-width: 544px), (orientation: landscape) { стили }
not - предназначен для отрицания указанного условия
not (min-width: 544px)
*/
/*
Медиа функции:
1. width - указывает требования к ширине области просмотра
2. min-width - задаёт минимальную ширину области
3. max-width - задает максимальную область
4. 5. 6. height, min-height и max-height - аналогично, но в отношении высоты
7. orientation - функция, которая проверяет то, в каком режиме (portrait или landscape) отображается страница
8. aspect-ratio (min-aspect-ratio, max-aspect-ratio) - позволяют указать то, как ширина устройства должна относиться к высоте
/* ширина от 992px до 1200*/
@media screen and (min-width: 992px) and (max-width: 1200px){
    body {
        background: #D81B60;
    }
}

/* ширина от 768px до 991px*/
@media screen and (min-width: 768px) and (max-width: 991px){
    body {
        background: #8E24AA;
    }
}

/* ширина от 600 до 767px */
@media screen and (min-width: 600px) and (max-width: 767px){
    body {
        background: #5E35B1;
    }
}

/* ширина до 599px */
@media screen and (max-width: 599px){
    body {
        background: #3949AB;
    }
}

/* основные стили для самых маленьких устройств до 480px/599px*/
/* медиа запросы:
от 481px до 640 / от 600px до 768px
от  641px до 780px / от 769px до 991px
от 781px до 960px / от 992px до 1200px
от 960px / от 1200px
*/

/* основные стили для больших экранов: от 960px / от 1200px
на остальные размеры - медиа запросы */
/*
max-width
ширина в %
умные margin
адаптивные изображения
скрытие содержимого
flexbox: изменение направление оси
разрешение переноса
grid layout: перерисовка grid-template-areas
*/
