body {
  margin: 0;
}

.form2 {
  display: none;
}

#form3:target {
  display: block;
  position: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
  z-index: 1;

}



.form2::before {
  content: "";
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.colorr {
  margin-left: auto;
  margin-right: auto;
  bottom: -35%;
  position: relative;
  text-align: center;
  width: 450px;
  margin-bottom: 32px;
  border-radius: 10px;
  background: #FF4E00;
  padding: 40px;
}

/* сброс стилей input */
input {
  border-style: none;
  outline-style: none; /*outline это контур элемента появляется когда imput в фокусе */
  background: transparent;
}

input[type=text],
input[type=password] {
  width: 400px;
  border-bottom: 2px solid white;
  border-radius: 0;
  color: white;
  padding: 0 0 5px 30px;
}
