.item {
  position: relative;
}

.item q {
  position: absolute;
  left: 5px;
  top: 5px;
  color: red;
}

.item:hover div {
  display: block;

}

.item a {
  position: absolute;
  left: 10%;
  bottom: 10%;
  right: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border-radius: 5px;
}
