.item {
  position: relative;
}

.item q {
  position: absolute;
  left: 5px;
  top: 5px;
  color: red;
}

.item div {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}

.item a {
  position: absolute;
  left: 10%;
  bottom: 10%;
  right: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border-radius: 5px;
}
