.padding {
    border: 1px solid black;
}

header {
    height: 100px;
    background: orangered;
}

footer {
  margin-bottom: 0;
  height: 20px;
  background: orangered;
  flex: 1 0 auto;
  flex-shrink: 0;
}
.for {
    flex: 1 0 auto;
}

.kat {
  display: flex;
  justify-content: space-between;
}

aside {

}

/* flexbox: прижатый футер */
html {
    height: 100%;
}

body {
    margin: 0;
    
    display: flex;
    flex-direction: column;
}

/* flex-1 для одного элемента из нескольких:
все доступное пространство будет занимать данный элемент*/
/* flex-1 для всех элементов: разделят пространство равным образом */
.main-block {
    /* grow shrink basis */

}

img {

    width: 100%;
    height:100px ;
    border: 1px solid black;
}
.vkat {
   height: 100%;
   background-color: lightgreen;
   border: 1px solid black;

}
aside {
    justify-content: space-between;
}

.line1 {
    flex: 1 0 auto;
}
.line2 {
    align-items: center;
}
